
.vs/
obj/
.vscode/
.idea/

*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal


*.user
*.userosscache
*.suo
*.userprefs


.vscode/


Thumbs.db
ehthumbs.db


[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]ebug-AnyCPU/
[Dd]ebug-x64/
[Dd]ebug-x86/
[Dd]Release/
[Dd]ist/
[Dd]ebug/


*.nupkg

ScaffoldingReadMe.txt

project.lock.json
project.fragment.lock.json
artifacts/



*.mdf
*.ldf

.idea/

*.DS_Store
