
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.vs/
.vscode/
.vsconfig
.vs/
.vscode/


*.suo
*.user
*.userosscache
*.sln.docstates


*.dll
*.pdb
*.exe
*.cache
*.ilk
*.nupkg


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


*.nupkg
.nuget/
NuGet.exe
nuget.exe


appsettings.Development.json
appsettings.Local.json


.idea/
*.sln.iml


.history/
*.code-workspace


*.db
*.db-shm
*.db-wal


.DS_Store


secrets.json


*.idea/
*.sln.iml


coverage/
*.coverage
*.coverage.xml


.dotnet/
tools/